/* Navbar styles */
.navbar {
    background-color: #3b3e3f; /* Update this to your desired color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .navbar .logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .navbar .nav-links li {
    margin-left: 20px;
  }
  
  .navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
  }
  
  .navbar .nav-links li a:hover {
    background-color: #ff5e5b;
    border-radius: 5px;
  }
